main_program/modules/Custom_DLL/native/
main_program/modules/Custom_DLL/wasm/

.build

main_program/public/*.wasm
main_program/main_native

dll/modules/SDL/linux_build
dll/modules/SDL/linux/bin
dll/modules/SDL/linux/include
dll/modules/SDL/linux/lib
dll/modules/SDL/linux/share